.container {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  gap: 20px;
}

.search {
  padding: 10px 0px 20px 0px;
  grid-column: span 12;
}

.stock-card {
  grid-column: span 12;
}