.footer {
  width: 100%;
  padding-top: 20px;
  background-color: rgb(110,110,110);
}

.divider.MuiDivider-root {
  background-color: rgb(75, 75, 75);
}

.footer-signature {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.name.MuiTypography-root {
  font-weight: bold;
}