.app {
  height: 100vh;
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
  "search"
  "stock-card"
  "footer";
  gap: 10px;
}

.search {
  grid-area: search;
  padding: 10px 0px 20px 0px;
}

.stock-card{
  grid-area: stock-card;
}

.footer {
  grid-area: footer;
}