.percent-box {
  display: flex;
  align-items: center;
  padding: 0px 8px;
  height: 32px;
  border-radius: 8px;
  margin-left: 8px;
}

.direction-icon.MuiSvgIcon-root {
  font-size: 1rem;
}

.percent-change.MuiTypography-root {
  font-size: 1rem;
}